{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": "3",
                "useBuiltIns": "entry",
                "targets": {
                    "ie": "11"
                }
            }
        ]
    ]
}